<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @person.text %>
</p>
 
<h2>Comments</h2>
<%= render @person.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>